@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

html, body {
    background-color: black;
    color: red;
    height: 100vh;
    width: 100vw;
}

body {
    display: flex;
    flex-direction: column;
}

h1, h2, p {
    font-family: Rubik, sans-serif;
}
