@font-face {
    font-family: 'Gluten';
    src: url('./fonts/gluten.woff2') format('woff2');
}

@font-face {
    font-family: 'Shadowland';
    src: url('./fonts/shadowland.ttf') format('truetype');
}
